*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;   
    font-display: fallback
}
html {
    scroll-behavior: smooth;
  }

.container{
    width: 80%;
    /* margin: 0 auto; */
}
header{
    background: #11e91b;
}
header::after {
    content:'';
    display: table;
    clear: both;
}

.mt{
margin-top: 20vh;
}

.mt a{
    text-decoration: none;
}


 nav ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
}

nav li a{
    text-decoration: none;
}

body{
    background:  rgb(217, 250, 32);
    font-size: 2.5rem;
}
.my-img{
    width: 24vw;
    float: right;
    margin: auto;
    height: 50vh; 
    border-radius: 50%;
}

.my-img img
{
    width: 100%;
    height: 10%;
    
}
.h2-teal
{
    background-color: #11e91b;
    padding-left: 10px;
    text-decoration: transparent;
}



.my-info 
{
font-family: cursive;
 width:60%;
 height: 100vh;
 float: left;
 padding: 0 30px;
}


.my-info h1
{
    margin-top: 50px;
    margin-bottom: 30px;
}

.my-info h2
{
    margin-top: 50px;
    margin-bottom: 30px;
    color: greenyellow;
    font-family: fantasy; 
}

.text-white
{
    color:green;
}
.font-change
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro::after{
    content: "";
    clear: both;
    display: table;

}
.social a{
    text-decoration: none;
}

.social{
    padding-top: 0px;
}

.paddingtop{
    padding-top: 20px;
}

.navigation {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navigation to fixed position */
    top: 0; /* Position the navigation at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navigation */
  .navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navigation a:hover {
    background: #ddd;
    color: black;
  }  

